.dialogs_container_flex{
    position:fixed;
    top:96px;
    left:280px;
    right:10px;
    bottom:0;
    display:flex;
}

.dialogs_messages{
    /*align-self: flex-end;*/
    /*flex-grow: 1;*/
    /*height: 100%;*/
    width: 66.66%;
    display: flex;
    flex-direction: column-reverse;
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
    /*потом решу в каком порядке лучше*/
    background-color: #fff !important;
    padding-bottom: .25rem !important;
    padding-top: 1rem !important;
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
    border-radius: 15px !important;
    box-shadow: 0 8px 30px rgba(0,0,0,.05) !important;
    margin-left: 15px;
}

.dialogs_items{
    width:33.33%;
    background-color: #fff !important;
    padding-bottom: .25rem !important;
    padding-top: 1rem !important;
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
    border-radius: 15px !important;
    box-shadow: 0 8px 30px rgba(0,0,0,.05) !important;
    margin-left: 15px;
}

.dialogs_items ul li{
    list-style-image: none;
    list-style-type: none;
    margin: 1px 5px;

}
.dialogs_items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem !important;
    display: flex;
    flex-direction: column;
}

.name{
    margin-bottom: 5px;
    padding-left: 25px;
    white-space: nowrap;
}

.item {
    align-items: center;
    padding: 12px 20px 12px 20px;
    white-space: nowrap;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: #888;
    height: 54px;
    display: flex;
    overflow: hidden;
    transition: all .2s ease;
    text-decoration: none;
    outline: 0;
}

.item:hover{
    color: var(--theme-color);
}

.itemActive{
    color: var(--theme-color);
}

.chat_form_container{
    width: 100%;
    background-color: #fff;
    padding: 1rem!important;
    box-shadow: none!important;
}
.chat_form{
    padding: 4px;
    width: 100%;
    display:flex;
}

.input_div{
    width: calc(100% - 0px); /*?*/
    border-radius: 30px;
    margin: 0 5px;
}

.chat_form input {
    width: 100%;
    border: 0;
    border-radius: 30px;
    font-size: 14px;
    padding: 0 15px;
    line-height: 40px;
    /*color: #fff;*/
    background-color: #EBF2FF;
    font-weight: 500;
    color: #888;;
}
.chat_form .input_div:after{
    /*background-color: var(--theme-color);
    opacity: .08;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;*/
}
.chat_form button {
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--theme-color)!important;
    color: white;
}
.chat_form input:focus {
    outline: none !important;
}




/*.user_message {*/
/*    border:1px solid;*/
/*}*/
/*.friend_message {*/
/*    border:1px green solid;*/
/*}*/